.page3 {
    font-family: Arial, sans-serif;
    background-image: url('../images/image13.jpg'); /* Image de fond */
    background-size: cover;

}


.grand_titre{
      position: absolute;
      top: 0px;
      left: 40px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      color: #f4f4f4;

}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(194, 96, 96, 0.76); /* Rouge avec une transparence */
    opacity: 0.8; /* Transparence supplémentaire de 80% */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f4f4f4;
}


h1 {
    text-align: center;

}


.R{
    color: red;
}


.V{
    color: green;
}


form {
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 5px;
}


input[type="email"], input[type="tel"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


textarea {
    height: 150px;
}


input[type="submit"] {
    align-self: flex-end;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


input[type="submit"]:hover {
    background-color: #45a049;
}


.map-container {
    position: relative;
    overflow: hidden;
    height: 200px;
    border-radius: 10px;
    max-width: 300px;
    margin: right ;
    padding: 10px;
    background-color: rgba(194, 96, 96, 0.76); /* Rouge avec une transparence */
    opacity: 0.8; /* Transparence supplémentaire de 80% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.map {
    width: 100%;
    height: 100%;
}


.social-icons {
    text-align: center;
    margin-bottom: 20px;
}


.social-icons  a{
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    margin-top: 30px;
    font-size: 25px;
}


a{
    color: #f4f4f4;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0% 0;
    position: static;
    bottom: 0;
    width: 100%;

}
